.card-locallers {
  overflow: hidden;
  height: 135px;
  background: #f0ebe5;
  color: #26271f;
  padding: 2px;
  margin-top: 15px;
  border-radius: 5px;

  h3 {
    font-size: 16px;
    padding-top: 0;
  }

  p {
    color: #26271f;
    font-size: 12px;
    margin-bottom: 4px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Limit to 3 lines */
    -webkit-box-orient: vertical;
    padding: 0;
  }

  .my-button {
    font-size: 10px;
    color: #26271f;
    display: inline-flex;
    align-items: center;
    padding-left: 6px;
    padding-right: 6px;
    margin: 0;
    height: auto;
    font-weight: semibold;
    border: solid #26271f 1px;
  }

  .avatar-card {
    height: auto;
    width: 85px;
    object-fit: cover;
    margin-right: 5px;
    border-radius: 5px;
  }

  .card-info {
    margin: 10px;
  }
}

a {
  text-decoration: none;
}
